/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f1f1 !important;
}

body .container {
  max-width: 1100px;
}

#filter-buttons button {
  border-radius: 15px;
  background: #fff;
  border-color: transparent;
}

#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #00060a;
}

#filterable-cards .card {
  border-radius: 17px 17px 17px 17px;
  width: 300px;
  height: 370px;
  border: 2px solid transparent;
}

#filterable-cards .card.hide {
  display: none;
}

@media (max-width: 600px) {
  #filterable-cards {
    justify-content: center;
  }

  #filterable-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
/*свой стиль карточек */

.card img {
  border-radius: 15px 15px 0px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.add-to-cart-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
/*  стили поисковой строки */
.box {
  position: relative;
  top: -20px;
  height: 50px;
  background-color: #fcfdfd;
  border-radius: 30px;
}


@media screen and (max-width: 480px) {
   .box{
    height:54px;
  }
}

.search-box input[type="text"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  padding: 0 20px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 1;
  transition: 0.3s;
}

.search-box input[type="text"]:focus {
  width: 100%;
}

.search-box .icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  color: #333;
  background-color: #fff;
  z-index: 2;
  transition: 0.3s;
}

.search-box:hover input[type="text"] {
  width: 100%;
}

.search-box:hover .icon {
  background-color: #333;
  color: #fff;
}
/**/


/**/
.price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(12, 1, 1);
  margin-bottom: 10px;
}

